<assembly>
  <id>plugin</id>

  <formats>
    <format>zip</format>
  </formats>
  
  <includeBaseDirectory>false</includeBaseDirectory>

  <dependencySets>
    <dependencySet>
      <outputDirectory>/</outputDirectory>
      <useProjectArtifact>true</useProjectArtifact>
      <useTransitiveFiltering>true</useTransitiveFiltering>
      <useTransitiveDependencies>true</useTransitiveDependencies>
    </dependencySet>
  </dependencySets>

  <files>
    <file>
      <source>${elasticsearch.tools.directory}/plugin-metadata/plugin-descriptor.properties</source>
      <outputDirectory></outputDirectory>
      <filtered>true</filtered>
    </file>
  </files>

  <fileSets>
    <fileSet>
        <directory>${project.basedir}/src/main/plugin-metadata</directory>
        <includes>
          <include>plugin-security.policy</include>
        </includes>
        <outputDirectory></outputDirectory>
        <filtered>false</filtered>
    </fileSet>

    <fileSet>
        <directory>src/main/config</directory>
        <outputDirectory>config</outputDirectory>
    </fileSet>
    <fileSet>
      <directory>src/main/_site</directory>
      <outputDirectory>_site</outputDirectory>
      <excludes>
        <exclude>.idea/**</exclude>
      </excludes>
    </fileSet>
    <fileSet>
      <directory>${project.basedir}</directory>
      <outputDirectory>_site</outputDirectory>
      <includes>
        <include>CHANGES.txt</include>
        <include>LICENSE.txt</include>
      </includes>
    </fileSet>
  </fileSets>
</assembly>