grant {
// TODO: REMOVE THESE HACKS
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";
};
